  .admin-tabs {
      display: flex;
      flex-direction: column;
  }

  .admin-tabs li a {
      padding: 15px 20px;
      margin-bottom: 5px;
  }

  .admin-tabs li a.active {
      background-color: red !important;
      color: #fff;
  }

  .data-header {
      display: flex;
      justify-content: space-between;
  }

  .data-header button {
      padding: 0px 20px;
      border-radius: 7px;
  }

  .table td {
      vertical-align: middle !important;
  }

  .table td img {
      height: 40px;
  }

  .table td button {
      border: none;
      background-color: transparent;
      margin: 0px 5px;
      font-size: 20px;
  }

  .table td button:nth-child(1) {
      color: skyblue;
  }

  .table td button:nth-child(2) {
      color: orange;
  }

  .table td button:nth-child(3) {
      color: red;
  }

  form {
      display: flex;
      flex-direction: column;
      gap: 15px;
  }