  .admin-tools {
      display: flex;
      flex-direction: column;
  }

  .admin-tools li a {
      padding: 15px 20px;
      margin-bottom: 5px;
  }

  .admin-tools li a.active {
      background-color: red;
      color: #fff;
  }